.landing {
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        text-align: center;
    }

    &__text {
        font-size: 17px;
        line-height: 1.7em;
        margin-top: 0;
        margin-bottom: .5em;
    }

    &__title {
        font-size: 38px;
        font-weight: 700;
        font-weight: .3em;
        margin: 0;
    }
}

@media screen and (min-width: 600px) {
    .landing {
        min-height: 50vh;

        &__text {
            font-size: 25px;
        }

        &__title {
            font-size: 55px;
        }
    }

}

@media screen and (min-width: 900px) {
    .landing {
        min-height: 70vh;

        &__text {
            font-size: 30px;
        }

        &__title {
            font-size: 65px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .landing {
        &__text {
            font-size: 35px;
        }

        &__title {
            font-size: 75px;
        }
    }
}

@media screen and (min-width: 1500px) {
    .landing {
        &__text {
            font-size: 45px;
        }

        &__title {
            font-size: 100px;
        }
    }
}