<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Souperman</title>
</head>
<body>
    <div class="container">    
        ${require('./header.html')}
        <div class="page">
            <header class="animation-header">
                <h1 class="title animation-header-title">Animations</h1>
                <p class="animation-header-text">Spectacle de rue, spectacle sur scène, spectacle enfants, animations de Noël ou spectacle sur-mesure, Nous vous laissons le choix parmi nos 20 spectacles différents.</p>
            </header>

            <div class="animation-collection">
                <article class="animation-item">
                    <header class="animation-item-header">
                        <h2 class="animation-item-header-title title">Let's cook</h2>
                    </header>
                    <div class="animation-item-content">
                        <p class="animation-item-text" data-scroll>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.
                        </p>
                        <img src="../images/teppenyaki.jpg" data-scroll alt="Glaçons" class="animation-item-img" data-scroll>
                        <ul class="animation-item-informations" data-scroll>
                            <li class="animation-item-information">
                                <i class="fa fa-home"></i>
                                Intérieur
                            </li>
                            <li class="animation-item-information">
                                <i class="fa fa-clock"></i>
                                30 minutes
                            </li>
                            <li class="animation-item-information">
                                <i class="fa fa-users"></i>
                                Tous public
                            </li>
                        </ul>
                        <footer class="animation-item-footer" data-scroll>
                            <a href="#" class="button">Voir les prochaines dates</a>
                        </footer>
                    </div>
                </article>
                <article class="animation-item">
                    <header class="animation-item-header">
                        <h2 class="animation-item-header-title title">Let's cook</h2>
                    </header>
                    <div class="animation-item-content">
                        <p class="animation-item-text">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.
                        </p>
                        <img src="../images/parc.jpg" alt="Glaçons" class="animation-item-img">
                        <ul class="animation-item-informations">
                            <li class="animation-item-information">
                                <i class="fa fa-home"></i>
                                Intérieur
                            </li>
                            <li class="animation-item-information">
                                <i class="fa fa-clock"></i>
                                30 minutes
                            </li>
                            <li class="animation-item-information">
                                <i class="fa fa-users"></i>
                                Tous public
                            </li>
                        </ul>
                        <footer class="animation-item-footer">
                            <a href="#" class="button">Voir les prochaines dates</a>
                        </footer>
                    </div>
                </article>
                <article class="animation-item">
                    <header class="animation-item-header">
                        <h2 class="animation-item-header-title title">Let's cook</h2>
                    </header>
                    <div class="animation-item-content">
                        <p class="animation-item-text" data-scroll>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.
                        </p>
                        <img src="../images/aroma.jpg" data-scroll alt="Glaçons" class="animation-item-img" data-scroll>
                        <ul class="animation-item-informations" data-scroll>
                            <li class="animation-item-information">
                                <i class="fa fa-home"></i>
                                Intérieur
                            </li>
                            <li class="animation-item-information">
                                <i class="fa fa-clock"></i>
                                30 minutes
                            </li>
                            <li class="animation-item-information">
                                <i class="fa fa-users"></i>
                                Tous public
                            </li>
                        </ul>
                        <footer class="animation-item-footer" data-scroll>
                            <a href="#" class="button">Voir les prochaines dates</a>
                        </footer>
                    </div>
                </article>
                <article class="animation-item">
                    <header class="animation-item-header">
                        <h2 class="animation-item-header-title title">Let's cook</h2>
                    </header>
                    <div class="animation-item-content">
                        <p class="animation-item-text" data-scroll>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.
                        </p>
                        <img src="../images/blaze.jpg" data-scroll alt="Glaçons" class="animation-item-img">
                        <ul class="animation-item-informations" data-scroll>
                            <li class="animation-item-information">
                                <i class="fa fa-home"></i>
                                Intérieur
                            </li>
                            <li class="animation-item-information">
                                <i class="fa fa-clock"></i>
                                30 minutes
                            </li>
                            <li class="animation-item-information">
                                <i class="fa fa-users"></i>
                                Tous public
                            </li>
                        </ul>
                        <footer class="animation-item-footer" data-scroll>
                            <a href="#" class="button">Voir les prochaines dates</a>
                        </footer>
                    </div>
                </article>
            </div>
        </div>
    </div>
</body>
</html>