<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Souperman</title>
</head>
<body>
    <div class="container contact">    
        ${require('./header.html')}
        <div class="page">
            <header class="contact-header">
                <h1 class="contact-title">Contact</h1>
            </header>

            <div class="contact-content">
                <div class="contact-information">
                    <div class="contact-information-chunk">
                        <i class="fa fa-map"></i>
                        <span>523 Rosemary Street, <br>67000 Strasbourg France.</span>
                    </div>
                    <div class="contact-information-chunk">
                        <i class="fa fa-phone"></i>
                        <span>(+33)6 12 34 56 78</span>
                    </div>
                </div>
                <form action="#" class="contact-form">
                    <div class="form-group">
                        <input type="text" class="form-group-input" id="name">
                        <label for="name" class="form-group-label">Nom</label>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-group-input" id="email">
                        <label for="email" class="form-group-label">Email</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-group-input" id="phone">
                        <label for="phone" class="form-group-label">Téléphone</label>
                    </div>
                    <div class="form-group">
                        <textarea name="message" id="message" cols="30" rows="10" class="form-group-input"></textarea>
                        <label for="name" class="form-group-label">Message</label>
                    </div>

                    <button class="button">Envoyer</button>
                </form>
            </div>
        </div>
    </div>

    <svg width="0" height="0">
        <defs>
            <clipPath id="contact-cp">
                <path d="M0,.3 C.25 .2, .25, .2, .35 .4 H1 V0 H0 Z" />
            </clipPath>
        </defs>
    </svg>
</body>
</html>