<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Souperman</title>
</head>
<body>
    <div class="container">    
        ${require('./header.html')}
        <div class="page">
            <section class="section landing" id="landing">
                <p class="landing-text">Une troupe de spectacle <br><strong class="underline">pas comme les autres.</strong></p>
                <h1 class="landing-title title">Soupe'rman</h1>
            </section>

            <section class="section landing-media">
                <img src="../images/parc.jpg" alt="La fougère" class="landing-media-img" id="landing-media-img">
            </section>

            <section class="section section-card">
                <section class="who">
                    <img src="../images/fougere.jpg" alt="Fougères" class="who-media">
                    <header class="who-header">
                        <h2 class="title who-title">
                            Qui sommes <br>nous ?
                        </h2>
                    </header>
                    <div class="who-content">
                        <p class="who-text">Souper'man est une troupe de spectacle ayant pour objectif de divertir tout en cuisinant. C'est dans ce cadre que nous proposons des spectacles autour d'un ensemble de recettes diverses.</p>
                        <div class="who-stats">
                            <article class="stat-item">
                                <h3 class="stat-title">Lorem</h3>
                                <p class="stat-text">Lorem ispum</p>
                            </article>
                            <article class="stat-item">
                                <h3 class="stat-title">Lorem</h3>
                                <p class="stat-text">Lorem ispum</p>
                            </article>
                            <article class="stat-item">
                                <h3 class="stat-title">Lorem</h3>
                                <p class="stat-text">Lorem ispum</p>
                            </article>
                        </div>
                    </div>
                    <footer class="who-footer">
                        <a href="#" class="button">Voir nos spectacles</a>
                    </footer>
                </section>

                <section class="shows">
                    <img src="../images/fougere.jpg" alt="Fougères" class="shows-media">
                    <header class="shows-header">
                        <h2 class="title shows-title">Des spectacles pour les petits et grands</h2>
                    </header>
                    <div class="shows-content">
                        <p class="shows-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro illum, labore placeat consectetur ipsa numquam excepturi dolore, quis repellat doloremque perspiciatis alias, reprehenderit praesentium officiis? Tempore culpa sit provident omnis!</p>
                    </div>
                    <footer class="shows-footer">
                        <a href="#" class="button">Voir notre agenda</a>
                    </footer>
                </section>
            </section>

            <section class="newsletter section">
                <img src="../images/fougere.jpg" alt="Fougere" class="newsletter-media">
                <h2 class="title newsletter-title">
                    Newsletter
                </h2>
                <p class="newsletter-text">
                    Envie d'être au courant des dernières dates de la troupe ?
                </p>
                <form action="#" method="post" class="newsletter-form">
                    <div class="form-group">
                        <input type="email" class="form-group-input" id="email">
                        <label for="email" class="form-group-label">Saisissez votre adresse email</label>
                    </div>
                    <button type="submit" class="button newsletter-button">Je m'abonne</button>
                </form>
            </section>
        </div>
    </div>

    <svg width="0" height="0">
        <defs>
            <clipPath id="newsletter-image" clipPathUnits="objectBoundingBox">
                <path d="M0,0 V.8 L.5,1 L1,.8 V0 Z" />
            </clipPath>
        </defs>
    </svg>
</body>
</html>