<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Souperman</title>
</head>
<body>
    <div class="container">    
        ${require('./header.html')}
        <div class="page">
            <div class="section landing">
                <!-- <img src="../images/blaze.jpg" alt="Flammes" class="landing-media"> -->
                <div class="landing-content">
                    <h1 class="landing-title">Souperman</h1>
                    <p class="landing-text">Une troupe de spectacle pas comme les autres.</p>
                </div>
            </div>

            <div class="section layout-1">
                <!-- <img src="../images/blaze.jpg" alt="Flammes" class="layout-1-img"> -->
                <div class="layout-1-content">
                    <h2 class="title layout-1-title">Qui sommes nous ?</h2>
                    <p class="layout-1-text">Soupe'rman est une troupe de spectacle ayant pour objectif de divertir tout en cuisinant. C'est dans ce cadre que nous proposons des spectacles autour d'un ensemble de recettes diverses.</p>
                    <a href="#" class="button layout-1-button">Voir nos spectacles</a>
                </div>
            </div>
        </div>
    </div>

    <svg width="0" height="0">
        <defs>
            <clipPath id="layout-1-cp" clipPathUnits="objectBoundingBox">
                <path d="M0,0 H.45 V1 H0 Z" />
                <path d="M.9,0 H1 V1 H.9 Z"/>
            </clipPath>
        </defs>
    </svg>
</body>
</html>