<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Souperman</title>
</head>
<body>
    <div class="container">    
        ${require('./header.html')}
        <div class="page">

            <section class="section landing">
                <div class="landing-img-wrapper image-orange">
                    <img src="../images/blaze.jpg" alt="Flammes" class="landing-img">
                </div>
                <div class="landing-content">
                    <p class="landing-text">Une troupe de spectacle <br><strong>pas comme les autres</strong>.</p>
                    <h1 class="landing-title title">Soupe'rman</h1>
                </div>
                <img src="../images/blaze.jpg" alt="Flammes" class="landing-media">
            </section>

            <!-- <div class="section layout-1">
                <img src="../images/blaze.jpg" alt="Flammes" class="layout-1-img">
                <header class="layout-1-header">
                    <h2 class="title layout-1-title">Qui sommes<br class="xs-only"> nous ?</h2>
                </header>
                <div class="layout-1-content">
                    <p class="layout-1-text">Soupe'rman est une troupe de spectacle ayant pour objectif de divertir tout en cuisinant. C'est dans ce cadre que nous proposons des spectacles autour d'un ensemble de recettes diverses.</p>
                </div>
                <footer class="layout-1-footer">
                    <a href="#" class="button layout-1-button">Voir nos spectacles</a>
                </footer>
            </div>

            <div class="section layout-2">
                <img src="../images/blaze.jpg" alt="Flammes" class="layout-2-img">
                <header class="layout-2-header">
                    <h2 class="title layout-2-title">"Des spectacles pour les petits et grands"</h2>
                </header>
                <div class="layout-2-content">
                    <p class="layout-2-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo.</p>
                </div>
                <footer class="layout-2-footer">
                    <a href="#" class="button layout-2-button">Votre notre agenda</a>
                </footer>
            </div> -->
        </div>
    </div>
<!-- 
    <svg width="0" height="0">
        <defs>
            <clipPath id="layout-1-cp" clipPathUnits="objectBoundingBox">
                <path d="M0,0 H.45 V1 H0 Z" />
                <path d="M.9,0 H1 V1 H.9 Z"/>
            </clipPath>

            <clipPath id="layout-2-cp" clipPathUnits="objectBoundingBox">
                <path d="M0,0 H.1 V1 H0 Z" />
                <path d="M.45,0 H1 V1 H.45 Z" />
            </clipPath>
        </defs>
    </svg> -->
</body>
</html>