<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Souperman</title>
</head>
<body>
    <div class="container">    
        ${require('./header.html')}
        <div class="page">
            <section class="section landing">
                <p class="landing-text">Une troupe de spectacle <br><strong class="underline">pas comme les autres.</strong></p>
                <h1 class="landing-title title">Soupe'rman</h1>
            </section>

            <section class="section landing-media">
                <img src="../images/fougere.jpg" alt="La fougère" class="landing-media-img">
            </section>
        </div>
    </div>
</body>
</html>