@font-face {
    font-family: 'MyFont';
    src:  url('../fonts/font.ttf') format('TrueType');
    font-weight: 600;
    font-style: normal;
}

body {
    background: blue;
    font-family: 'Architects Daughter';
}