@import "./components/header";
@import "./typography.scss";

:root {
    --breakpoint-xs: 300px;
    --breakpoint-sm: 600px;
    --breakpoint-md: 900px;
    --breakpoint-lg: 1200px;
    --breakpoint-xl: 1500px;

    /* Colors */
    --primary-color: #FC720E;
    
    --page-padding-x: 13px;
}

body {
    margin: 0;
    min-height: 100vh;
}

.container {
    min-height: 100vh;
    position: relative;
}

.landing {
    min-height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    &-title {
        margin: 0;
        font-weight: 900;
        margin-bottom: 10px;
    }

    &-text {
        margin: 0;
        font-size: 18px;
        font-weight: 200;
        line-height: 1.1em;
    }
}

.landing-media {
    height: 60vh;

    &-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (min-width: 600px) {
    :root {
        --page-padding-x: 80px;
    }

    .landing {
        &-text {
            font-size: 23px;
        }

        &-title {
            font-size: 75px;
            margin-bottom: 20px;
        }
    }
}

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1500px) {
}