@import "./components/header";
@import "./typography.scss";

@font-face {
    font-family: 'Japanese brush';
    src:  url('../fonts/japanese-brush.ttf') format('TrueType');
    font-weight: 400;
    font-style: normal;
}

:root {
    font-size: 14px;

    /* Colors */
    --primary-color: #FC720E;

    /* Page structure */
    --page-padding-x: 13px;
}

body {
    font-family: 'Source sans pro';
    min-height: 100vh;
    margin: 0;
}