<section class="newsletter section">
    <img 
        srcset="${require('../../images/glacons.jpg?sizes[]=300,sizes[]=600,sizes[]=700,sizes[]=800,sizes[]=900,sizes[]=1000,sizes[]=1200,sizes[]=1300,sizes[]=1400,sizes[]=1500,sizes[]=1600,sizes[]=1700,sizes[]=1800').srcSet}" 
        alt="Fougere" 
        class="newsletter__media">
    <div class="newsletter__content">
        <h2 class="title newsletter__title">
            Ne manquez<br> plus rien
        </h2>
        <p class="newsletter__text">
            Envie d'être au courant des dernières dates de la troupe ?
        </p>
    </div>
    <form action="#" method="post" class="newsletter__form">
        <div class="newsletter__form_group">
            <input type="email" class="newsletter__form_group__input" id="email">
            <label for="email" class="newsletter__form_group__label">Email</label>
        </div>
        <button type="submit" class="btn newsletter__button">Je m'abonne</button>
    </form>
</section>