<section class="shows">
    <img 
        srcset="${require('../../images/market.jpg?sizes[]=300,sizes[]=600,sizes[]=700,sizes[]=800,sizes[]=900,sizes[]=1000,sizes[]=1200,sizes[]=1300,sizes[]=1400,sizes[]=1500,sizes[]=1600,sizes[]=1700,sizes[]=1800').srcSet}" 
        alt="Fougères" 
        class="shows__media">
    <header class="shows__header">
        <h2 class="title shows__title">Des spectacles pour les petits et grands</h2>
    </header>
    <div class="shows__content">
        <p class="shows__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro illum, labore placeat consectetur ipsa numquam excepturi dolore, quis repellat doloremque perspiciatis alias, reprehenderit praesentium officiis? Tempore culpa sit provident omnis!</p>
    </div>
    <footer class="shows__footer">
        <a href="#" class="btn shows__button">Voir notre agenda</a>
    </footer>
</section>