<section class="spectacles">
    <article class="spectacle">
        <img src="../../images/aroma.jpg" alt="Arômes" class="spectacle__media">
        <div class="spectacle__content">
            <h3 class="spectacle__title">Un spectacle</h3>
            <p class="spectacle__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, nemo. Harum repreh.</p>
            <a href="#" class="btn spectacle__button">En savoir plus</a>
        </div>
    </article>
    <article class="spectacle">
        <img src="../../images/aroma.jpg" alt="Arômes" class="spectacle__media">
        <div class="spectacle__content">
            <h3 class="spectacle__title">Un spectacle</h3>
            <p class="spectacle__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, nemo. Harum repreh.</p>
            <a href="#" class="btn spectacle__button">En savoir plus</a>
        </div>
    </article>
</section>