<section class="who">
        <img 
            srcset="${require('../../images/teppenyaki.jpg?sizes[]=300,sizes[]=600,sizes[]=700,sizes[]=800,sizes[]=900,sizes[]=1000,sizes[]=1200,sizes[]=1300,sizes[]=1400,sizes[]=1500,sizes[]=1600,sizes[]=1700,sizes[]=1800').srcSet}" 
            alt="Fougères" 
            class="who__media">

        <header class="who__header">
            <h2 class="title who__title">
                Qui sommes <br>nous ?
            </h2>
        </header>
        <div class="who__content">
            <p class="who__text">Souper'man est une troupe de spectacle ayant pour objectif de divertir tout en cuisinant. C'est dans ce cadre que nous proposons des spectacles autour d'un ensemble de recettes diverses.</p>
            <div class="who__stats">
                <article class="stat">
                    <h3 class="stat__title">Lorem</h3>
                    <p class="stat__text">Lorem ispum</p>
                </article>
                <article class="stat">
                    <h3 class="stat__title">Lorem</h3>
                    <p class="stat__text">Lorem ispum</p>
                </article>
                <article class="stat">
                    <h3 class="stat__title">Lorem</h3>
                    <p class="stat__text">Lorem ispum</p>
                </article>
            </div>
        </div>
        <footer class="who__footer">
            <a href="#" class="btn who__button">Voir nos spectacles</a>
        </footer>
    </section>